body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Patrick Hand', sans-serif;
    font-size: 10pt;
    letter-spacing: 0.05em;
    color: rgb(78, 75, 75);
}

header {
    display: flex;
    align-items: center;
    padding: 5px;
    text-align: center;
}

#inputs-div {
    display: flex;
    flex-direction: row;
    width: 75vh;
    max-width: 75vw;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
}

#inputs-div input {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: 5px;
}

#bleppy-container {
    background-image: url('bleppy-min.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    height: 75vh;
    width: 75vh;
    margin: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.comic-panel {
    overflow: hidden;
}

.text-output {
    display: block;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: clip;
}

#output-2 {
    position: relative;
    top: 40%;
    left: 15%;
    transform: rotate(-16deg);
    width: 40%;
    height: 25%;
    text-align: center;
}

#output-3 {
    position: relative;
    top: 32%;
    left: 60%;
    transform: rotate(-16deg);
    width: 33%;
    height: 25%;
    text-align: left;
}

#output-4 {
    position: relative;
    top: 68%;
    left: 6%;
    width: 82%;
    height: 10%;
    text-align: left;
}

#instructions-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    font-size: 1.2em;
}

#instructions-div h2 {
    margin-bottom: 0px;
}

@media(max-width: 775px) {
    #inputs-div {
        flex-wrap: wrap;
    }

    #bleppy-container {
        zoom: 0.4;
        max-width: 95vw;
    }
}